.chat-container {
    width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.chat-header {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

.chat-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user {
    background-color: rgb(121, 134, 249);;
    text-align: right;
}

.bot {
    background-color: rgb(249, 242, 121);
    text-align: left;
}

.chat-footer {
    padding: 10px;
    display: flex;
}

.chat-footer input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-footer button {
    padding: 10px;
    background-color: oklch(69.02% 0.277 332.77);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}